@media print, (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 24px;
    }


    .wrap > .bg
    {
        top: 0;
    }

    .wrap > .bg img.bg_768
    {
        display: none;
    }

    .wrap > .bg img.bg_480
    {
        display: block;
    }


    .cont
    {
        padding: 0 40px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px 0;
    }


    .modal.fancybox__content > .carousel__button.is-close
    {
        top: 16px;
        right: 16px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        width: 100%;

        justify-content: space-between;
    }



    /*------------
        Header
    ------------*/
    header
    {
        margin-bottom: 40px;
    }


    header .logo
    {
        margin-right: auto;
    }

    header .logo.mob_mini
    {
        overflow: hidden;

        width: 38px;
    }


    header .twenty_years,
    header .icons .cart,
    header .scores
    {
        display: none;
    }


    header .search
    {
        position: static;
    }

    header .search .mini_modal,
    header .search .mini_modal.active
    {
        top: calc(100% - 18px);
        right: 24px;

        width: calc(100vw - 48px);
    }


    header .col_right
    {
        margin-left: 0;
    }



    /*---------------
        Mob. menu
    ---------------*/
    #mob_menu
    {
        width: 300px;
        padding: 28px;

        border-top: 82px solid #141414;
    }

    #mob_menu .account
    {
        margin-right: 30px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 32px;
    }


    .block_head .title
    {
        line-height: calc(var(--font_size_title) + 4px);
    }


    .block_head .scores
    {
        font-size: 16px;
        line-height: 19px;

        width: 100%;
        margin-top: 12px;

        text-align: left;
    }


    .block_head .download_link
    {
        padding: 8px 20px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .cols
    {
        margin-left: 0;
    }

    .form .cols .col
    {
        width: 100%;
        margin-left: 0;
    }


    .form .files .selected
    {
        margin-bottom: 16px;
    }


    .form .files label
    {
        font-size: 12px;
        line-height: 20px;
    }

    .form .files label .icon
    {
        top: -4px;
        left: -4px;

        width: 24px;
        height: 25px;
    }


    .form .files .file_error
    {
        font-size: 13px;
        line-height: 17px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 12px;
        line-height: 20px;
    }


    .text_block h2
    {
        font-size: 16px;
        line-height: 24px;
    }

    .text_block * + h2
    {
        margin-top: 40px;
    }


    .text_block .cols .col + .col
    {
        margin-top: 40px;
    }


    .text_block ul li
    {
        padding-left: 20px;
    }


    .text_block ol > li
    {
        padding-left: 40px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .auth .info
    {
        font-size: 16px;

        width: 440px;
        margin-bottom: 38px;
    }

    .auth .info .twenty_years
    {
        top: -69px;
        left: 18px;

        height: 98px;
    }


    .auth .data
    {
        width: 400px;
        padding: 42px 52px 46px;
    }


    .auth .data .title
    {
        font-size: 24px;
        line-height: 100%;

        margin-bottom: 26px;
    }


    .auth .data .btns
    {
        font-size: 12px;
        line-height: 14px;
    }



    /*-------------------------
        Participation rules
    -------------------------*/
    .participation_rules
    {
        margin-bottom: 16px;
    }



    /*---------
        FAQ
    ---------*/
    .faq
    {
        margin-bottom: 26px;
    }


    .faq .item
    {
        font-size: 12px;
        line-height: 20px;

        padding: 28px 0;
    }

    .faq .item:first-child
    {
        padding-top: 0;
    }

    .faq .item .question
    {
        font-size: 16px;

        margin-bottom: 10px;
    }



    /*-------------------
        Search result
    -------------------*/
    .search_result
    {
        margin-bottom: 30px;
    }


    .search_result .section + .section
    {
        margin-top: 30px;
        padding-top: 30px;
    }


    .search_result .persons
    {
        margin-bottom: -24px;
        margin-left: 0;
    }

    .search_result .persons > *
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }



    /*-------------
        Support
    -------------*/
    .support
    {
        margin-bottom: 8px;
    }


    .support .data
    {
        padding: 40px 44px;
    }


    .support .data .title
    {
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 15px;
    }


    .support .data .time .val
    {
        font-size: 16px;

        width: 104px;
    }

    .support .data .time .desc
    {
        font-size: 12px;

        width: calc(100% - 120px);
    }

    .support .data .time .desc > * + *
    {
        margin-top: 0;
    }


    .support .data .line
    {
        margin: 28px 0;
    }


    .support .data .email
    {
        font-size: 12px;
    }


    .support .data .messengers
    {
        margin-top: 15px;
    }

    .support .data .messengers > * + *
    {
        margin-top: 12px;
    }

    .support .data .messengers .icon
    {
        width: 25px;
        height: 25px;
    }


    .support .data .bg
    {
        right: -21px;
        bottom: 26px;
    }


    .support .text
    {
        font-size: 12px;
        line-height: 18px;

        width: 389px;
        margin-top: 21px;
    }



    /*----------
        Shop
    ----------*/
    .shop
    {
        margin-bottom: 40px;
    }


    .shop .block_head
    {
        margin-bottom: 40px;
    }



    /*--------------
        Products
    --------------*/
    .products .row
    {
        margin-bottom: -40px;
        margin-left: 0;
        padding: 0 20px;
    }

    .products .row > *
    {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }


    .products .product
    {
        padding: 42px 42px 58px;
    }

    .products .product .name
    {
        font-size: 16px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info
    {
        margin-bottom: 30px;
    }



    /*-------------------------
        LK info - User info
    -------------------------*/
    .lk_info .user_info
    {
        position: relative;

        width: 100%;
        min-height: 85px;
        margin-bottom: 24px;
        padding: 0;
        padding-left: 114px;

        border-radius: 0;
        background: none;
    }


    .lk_info .user_info .avatar
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 85px;
        height: 85px;
        padding: 0;
    }

    .lk_info .user_info .avatar .bg
    {
        display: none;
    }


    .lk_info .user_info .stats
    {
        font-size: 12px;
        line-height: 20px;

        width: 180px;
        max-width: 100%;
        margin: 0;
    }

    .lk_info .user_info .stats > * + *
    {
        margin-top: 0;
    }


    .lk_info .user_info .btn
    {
        font-size: 12px;
        line-height: 14px;

        width: 112px;
        height: 30px;
        margin-top: 16px;
        margin-right: 0;
        margin-left: 0;
    }

    .lk_info .user_info .btn .icon
    {
        display: none;
    }



    /*-------------------------
        LK info - User data
    -------------------------*/
    .lk_info .user_data
    {
        width: 100%;
        margin-left: 0;
    }


    .lk_info .user_data > .name
    {
        font-size: 24px;
        line-height: 28px;
    }



    .lk_info .user_data .info
    {
        font-size: 12px;
        line-height: 20px;
    }


    .lk_info .user_data .desc
    {
        font-size: 12px;
        line-height: 20px;
    }

    .lk_info .user_data .desc .title
    {
        font-size: 16px;
    }


    .lk_info .user_data .direction
    {
        font-size: 16px;
    }



    /*----------------
        Tasks list
    ----------------*/
    .lk_info .tasks_list
    {
        margin-top: 30px;
        padding-top: 30px;
    }


    .tasks_list > .title
    {
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 28px;
    }


    .tasks_list .task
    {
        padding: 16px 10px;
    }


    .tasks_list .task .video
    {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }


    .tasks_list .task .desc
    {
        font-size: 12px;
        line-height: 20px;
    }


    .tasks_list .task_wrap .task
    {
        width: 100%;
    }


    .tasks_list .dialog
    {
        position: relative;

        width: 100%;
        height: auto;
        margin-top: 2px;
    }

    .dialog .messages
    {
        height: 268px;
    }



    /*------------------------
        LK info - LK aside
    ------------------------*/
    .lk_info .lk_aside
    {
        margin-bottom: 45px;
    }



    .lk_info .lk_aside .links
    {
        width: calc(100% + 80px);
        margin-right: -40px;
        margin-left: -40px;
        padding: 0 40px;
    }



    .lk_info .user_informer
    {
        font-size: 12px;
        line-height: 18px;

        padding: 20px 32px;
    }

    .lk_info .user_informer .item
    {
        width: calc(50% - 6px);
    }

    .lk_info .user_informer .item + .item
    {
        margin-left: auto;
    }

    .lk_info .user_informer .bg
    {
        top: -4px;

        height: 27px;
    }

    .lk_info .user_informer .bg2
    {
        right: -15px;
        bottom: -7px;

        height: 36px;
    }



    /*------------
        Orders
    ------------*/
    .orders .row
    {
        margin-bottom: -22px;
        margin-left: 0;
    }

    .orders .row > *
    {
        width: 100%;
        margin-bottom: 22px;
        margin-left: 0;
    }


    .orders .order
    {
        padding: 0 32px 48px;
    }

    .orders .order .head
    {
        margin-right: -32px;
        margin-left: -32px;
    }

    .orders .order .product .thumb
    {
        height: 140px;
    }

    .orders .order .product .thumb + *
    {
        width: calc(100% - 149px);
    }



    /*-----------------------
        LK info - History
    -----------------------*/
    .lk_info .history .item
    {
        font-size: 12px;
    }


    .lk_info .history .item .flag_btn
    {
        position: absolute;
        top: 0;
        right: 0;

        width: 24px;
        height: 22px;
        margin: 0;
    }

    .lk_info .history .item .name
    {
        overflow: visible;

        white-space: normal;
    }

    .lk_info .history .item .name a
    {
        overflow: visible;

        text-overflow: none;
    }

    .lk_info .history .item .scores
    {
        min-width: 64px;
        margin-left: 20px;
    }

    .lk_info .history .item .flag_btn .icon
    {
        width: 8px;
        height: 10px;
    }



    /*------------------------
        LK info - Personal
    ------------------------*/
    .lk_info .personal .user_data > .name
    {
        max-width: calc(100% - 109px);
        padding-right: 36px;
    }

    .lk_info .personal .user_data > .name .edit_btn
    {
        top: 2px;
    }

    .lk_info .personal .user_data .user_name,
    .lk_info .personal .user_data .info
    {
        max-width: calc(100% - 109px);
    }


    .lk_info .personal .avatar
    {
        top: 0;
    }


    .lk_info .personal .avatar .img
    {
        width: 85px;
        height: 85px;
    }

    .lk_info .personal .avatar .img .bg
    {
        display: none;
    }


    .lk_info .personal .avatar .upload
    {
        margin-top: 24px;
    }

    .lk_info .personal .avatar .upload label
    {
        font-size: 12px;
    }


    .lk_info .personal .edit_form
    {
        width: 264px;
    }

    .lk_info .personal .edit_form .name
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 24px;
    }


    .lk_info .personal .edit_form .submit
    {
        padding-top: 15px;
    }

    .lk_info .personal .edit_form .submit_btn
    {
        font-size: 14px;

        min-width: 128px;
    }

    .lk_info .personal .edit_form .cancel_btn
    {
        font-size: 14px;

        min-width: 112px;
    }



    /*---------------
        Standings
    ---------------*/
    .standings
    {
        margin-bottom: 30px;
    }



    .standings .data .table_wrap
    {
        padding: 26px;
    }


    .standings .data table th
    {
        padding-bottom: 0;
    }

    .standings .data table th + th
    {
        padding-left: 16px;
    }

    .standings .data table td
    {
        font-size: 12px;

        padding-top: 10px;
        padding-bottom: 10px;
    }

    .standings .data table td + td
    {
        padding-left: 16px;
    }

    .standings .data table td.number
    {
        font-size: 16px;
        line-height: 22px;

        width: auto;
        min-width: 0;
        padding-left: 16px;

        table-layout: auto;
    }

    .standings .data table td.scores
    {
        width: auto;
        min-width: 0;

        table-layout: auto;
    }


    .standings .catch_up_link
    {
        font-size: 12px;
        line-height: 14px;

        margin-top: 24px;
        margin-left: auto;
    }



    /*---------------
        Task info
    ---------------*/
    .task_info
    {
        margin-bottom: 42px;
    }


    .task_info .data .info
    {
        width: calc(100% + 30px);
        margin-bottom: 35px;
        margin-left: -30px;

        justify-content: flex-start;
    }

    .task_info .data .info > div
    {
        margin-left: 30px;
    }

    .task_info .data .info > div:first-child
    {
        width: calc(100% - 30px);
        margin-bottom: 16px;
    }


    .task_info .data .title
    {
        font-size: 24px;
        line-height: 28px;
    }

    .task_info .data .desc
    {
        font-size: 12px;
        line-height: 24px;

        margin-top: 4px;
    }


    .task_info .data .date,
    .task_info .data .scores
    {
        font-size: 16px;
        line-height: 19px;
    }

    .task_info .data .before_start,
    .task_info .data .members
    {
        font-size: 12px;
        line-height: 14px;

        margin-top: 8px;
    }


    .task_info .data .before_start
    {
        padding-left: 21px;
    }

    .task_info .data .before_start:before
    {
        top: 0;
    }



    .task_info .terms,
    .task_info .terms.min_w,
    .task_info .performance,
    .task_info .upload_report,
    .task_info .reports
    {
        margin-top: 45px;
    }

    .task_info .terms .title,
    .task_info .performance .title,
    .task_info .upload_report .title,
    .task_info .reports > .head .title,
    .task_info .reports .my_report > .title
    {
        font-size: 24px;
        line-height: 28px;
    }


    .task_info .terms .desc
    {
        font-size: 12px;
        line-height: 20px;
    }


    .task_info .performance .info
    {
        padding: 32px;
    }


    .task_info .upload_report .info
    {
        padding: 40px 40px 60px;
    }

    .task_info .upload_report .form .submit
    {
        padding-top: 4px;
    }


    .task_info .performance .quiz
    {
        padding-bottom: 52px;
    }


    .task_info .performance .quiz .head
    {
        margin-bottom: 28px;
    }

    .task_info .performance .quiz .time
    {
        font-size: 17px;
        line-height: 21px;
    }

    .task_info .performance .quiz .question
    {
        font-size: 18px;
        line-height: 26px;

        margin-bottom: 24px;
    }

    .task_info .performance .quiz .answers .field > * + *
    {
        margin-top: 16px;
    }

    .task_info .performance .quiz .next_btn
    {
        margin-top: 32px;
    }


    .task_info .performance .quiz_result
    {
        font-size: 18px;
        line-height: 26px;
    }

    .task_info .performance .quiz_result .scores
    {
        margin-top: 12px;
    }


    .task_info .performance .you_look_like
    {
        padding-bottom: 60px;
    }

    .task_info .performance .you_look_like .photo
    {
        width: 160px;
        height: 160px;
        margin: 0 auto 24px;

        order: 1;
    }

    .task_info .performance .you_look_like .photo + .text
    {
        width: 395px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;

        text-align: center;

        order: 2;
    }


    .task_info .performance .bg,
    .task_info .upload_report .bg
    {
        right: -14px;
        bottom: 23px;
    }


    .task_info .reports .my_report
    {
        margin-bottom: 58px;
    }

    .task_info .reports .my_report > .title
    {
        margin-bottom: 26px;
    }


    .task_info .reports > .head
    {
        margin-bottom: 24px;
    }

    .task_info .reports > .head .sort
    {
        font-size: 12px;
    }


    .task_info .reports .empty
    {
        font-size: 12px;
        line-height: 20px;
    }



    /*--------------------
        Direction info
    --------------------*/
    .direction_info
    {
        margin-bottom: 20px;
    }


    .direction_info .data .info
    {
        margin-bottom: 26px;
    }

    .direction_info .data .info > *
    {
        width: calc(100% - 140px);
    }

    .direction_info .data .info > * + *
    {
        width: 120px;
    }


    .direction_info .data .title
    {
        font-size: 24px;
        line-height: 28px;
    }


    .direction_info .data .desc
    {
        font-size: 12px;
        line-height: 18px;

        margin-top: 12px;
    }


    .direction_info .data .members
    {
        color: #fff;
        font-size: 12px;
        line-height: 28px;
    }


    .direction_info .data .join_btn
    {
        font-size: 12px;
        line-height: 14px;

        width: 100%;
        margin-top: 12px;
        padding: 8px;
    }


    .direction_info .data .video .link .icon
    {
        width: 41px;
        height: 41px;
    }


    .direction_info .data .rating
    {
        font-size: 12px;
        line-height: 14px;
    }

    .direction_info .data .rating .stars img
    {
        width: 15px;
    }


    .direction_info .data .author
    {
        width: 100%;
        padding: 24px 28px 30px;
    }

    .direction_info .data .author .avatar
    {
        width: 102px;
        height: 102px;
    }

    .direction_info .data .author .avatar .bg
    {
        right: -10px;
        bottom: -11px;

        height: 34px;
    }

    .direction_info .data .author .avatar + div
    {
        width: calc(100% - 131px);
    }



    .direction_info .terms,
    .direction_info .prizes,
    .direction_info .schedule,
    .direction_info .challenge
    {
        margin-top: 44px;
    }

    .direction_info .terms > .title,
    .direction_info .prizes > .title,
    .direction_info .schedule > .title
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 20px;
    }


    .direction_info .terms .desc
    {
        font-size: 12px;
        line-height: 18px;
    }


    .direction_info .prizes .item .thumb
    {
        height: 145px;
    }



    .direction_info .schedule .head
    {
        margin-bottom: 28px;
        padding-top: 4px;
    }


    .direction_info .schedule .head .challenge_btn
    {
        width: 274px;
        padding: 12px 20px;
    }

    .direction_info .schedule .head .challenge_btn .title
    {
        font-size: 16px;
    }

    .direction_info .schedule .head .challenge_btn .duration
    {
        margin-top: 2px;
    }


    .direction_info .schedule .head .exp
    {
        font-size: 12px;
        line-height: 18px;

        width: calc(100% + 38px);
        margin-top: 32px;
        margin-left: -38px;
    }

    .direction_info .schedule .head .exp > *
    {
        max-width: calc(100% - 38px);
        margin-left: 38px;
    }

    .direction_info .schedule .head .exp .color
    {
        width: 20px;
        height: 20px;
        margin-right: 7px;
    }



    .direction_info .challenge .head
    {
        margin-bottom: 32px;
    }

    .direction_info .challenge .head .title
    {
        font-size: 24px;
        line-height: 28px;
    }

    .direction_info .challenge .head .back_btn
    {
        font-size: 15px;
        line-height: 19px;

        width: 100px;
        height: 40px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-bottom: 36px;
    }



    .about_info .data
    {
        margin-bottom: 28px;
    }

    .about_info .data .title
    {
        font-size: 24px;
        line-height: 28px;
    }

    .about_info .data .desc
    {
        font-size: 14px;
        line-height: 20px;

        margin-top: 16px;
    }



    .about_info .video .link .icon
    {
        width: 40px;
        height: 40px;
    }

    .about_info .video .link .info
    {
        bottom: 16px;
        left: 12px;
    }

    .about_info .video .link .name
    {
        font-size: 10px;
        line-height: 12px;
    }

    .about_info .video .link .type
    {
        font-size: 10px;
        line-height: 12px;

        margin-top: 3px;
    }

    .about_info .video .link .name span,
    .about_info .video .link .type span
    {
        padding: 1px 4px;
    }



    /*----------------
        Directions
    ----------------*/
    .directions
    {
        margin-bottom: 4px;
    }


    .directions .title
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 28px;
    }


    .directions .row_wrap
    {
        width: calc(100% + 80px);
        margin: -20px -40px;
    }


    .directions .row
    {
        width: 716px;
        padding: 0 40px;
    }

    .directions .row > *
    {
        width: 196px;
    }

    .directions .row > * + *
    {
        margin-left: 24px;
    }


    .directions .item
    {
        font-size: 12px;
        line-height: 18px;

        padding: 40px 26px;
    }

    .directions .item .name
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 20px;
    }


    .directions .item .bg
    {
        top: -5px;
        right: -13px;

        height: 26px;
    }

    .directions .item .bg2
    {
        top: -2px;
        left: 11px;

        height: 7px;
    }

    .directions .item .bg3
    {
        right: -3px;
        bottom: -3px;

        height: 24px;
    }

    .directions .item .bg4
    {
        top: 5px;
        right: -13px;

        height: 26px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 56px 0 78px;
    }

    footer.big_margin
    {
        padding: 64px 0;
    }


    footer .links
    {
        margin-bottom: 8px;
    }



    footer .bg
    {
        height: 118px;
    }

    footer .bg2
    {
        height: 121px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 55px 40px 72px;
    }



    #join_modal
    {
        width: 100%;
    }

    #join_modal .title
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 20px;
    }

    #join_modal .desc
    {
        font-size: 12px;
        line-height: 20px;
    }



    #buy_modal
    {
        padding: 64px 82px;
    }


    #buy_modal .product
    {
        display: flex;

        width: 100%;
        margin-bottom: 32px;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    #buy_modal .product .thumb
    {
        width: 105px;
        height: 136px;
        margin: 0;
    }

    #buy_modal .product .info
    {
        width: calc(100% - 129px);

        text-align: left;
    }

    #buy_modal .product .size
    {
        margin-top: 16px;
    }

    #buy_modal .product .size,
    #buy_modal .product .size .vals
    {
        justify-content: flex-start;
    }


    #buy_modal .form
    {
        width: 100%;
    }

    #buy_modal .form .title
    {
        font-size: 24px;
        line-height: 100%;

        text-align: center;
    }

    #buy_modal .form .columns > *
    {
        width: calc(50% - var(--form_columns_offset));
    }
}
